.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    gap: 3rem;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.container>* {
    width: 100%;
}

.citys {
    grid-column: 3;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    align-items: center;
}

/* Para el checkbox */
.citys input[type="checkbox"] {
    justify-self: start;
}

/* Para asegurar que los selects y inputs ocupen todo el ancho */
select,
input[type="text"] {
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr !important;
        gap: 1rem;
    }

    .citys {
        grid-column: auto !important;
        grid-template-columns: 1fr !important;
    }

    .container > * {
        width: 100%;
    }
}